<div class="py-16 bg-white">
  <div class="container m-auto px-6">

   <div class="lg:flex justify-between items-center" >
    <div class="lg:w-5/12 order-2" >
      <img src="https://storage.googleapis.com/gawen_storage/fgts/interroga%C3%A7%C3%A3o.png"
       alt="" class="rounded">
    </div>
       <div class="lg:w-6/12 lg:p-0 p-7 bg-white">
          <h1 class="text-4xl font-bold leading-tight mb-5 capitalize text-green-600 text-center">  Perguntas frequentes </h1>

          <details>
            <summary class="text-green-600 text-2xl">O que é o FGTS?</summary>
            <p class="mt-10 text-center text-xl text-black">Fundo de Garantia do Tempo de Serviço, esse é o
              significado da sigla FGTS, benefício social criado pelo
              governo brasileiro. Tem como objetivo proteger os
              direitos dos trabalhadores com carteira assinada em
              caso de demissão sem justa causa. </p>
          </details>

          <details>
            <summary class="text-green-600 text-2xl">O que é Saque-Aniversário do FGTS?</summary>
            <p class="mt-10 text-center text-xl text-black">Essa é uma opção disponível para os trabalhadores
              brasileiros desde 2019. Caso você escolha por essa
              modalidade, pode sacar uma parte do saldo do FGTS
              uma vez por ano, no mês do seu aniversário. </p>
          </details>

          <details>
            <summary class="text-green-600 text-2xl">O que é a Antecipação do Saque-Aniversário do
              FGTS?</summary>
            <p class="mt-10 text-center text-xl text-black">É uma modalidade de crédito que adianta a liberação
              do seu saldo do FGTS, sem a necessidade de
              esperar pelo seu aniversário. </p>
          </details>

          <details>
            <summary class="text-green-600 text-2xl">Quem pode antecipar as parcelas do Saque-
              Aniversário FGTS?</summary>
            <p class="mt-10 text-center text-xl text-black">Esses são os requisitos:
              - Ter idade entre 18 e 75 anos;
              - Ter contas (ativas ou inativas) e saldo FGTS;
              - Ter CPF em situação regular na Receita Federal
              - Optar pela modalidade de Saque-Aniversário do
              FGTS;
              - Autorizar as instituições parceiras da Finanto
              (FACTA, SAFRA e PAN) a consultar seu FGTS.</p>
          </details>

          <details>
            <summary class="text-green-600 text-2xl">Qual é o prazo de liberação do dinheiro?</summary>
            <p class="mt-10 text-center text-xl text-black"> No máximo, 24h. A gente sabe que a sua
              necessidade não pode esperar.
              </p>
          </details>

          <details>
            <summary class="text-green-600 text-2xl">A contratação é segura? </summary>
            <p class="mt-10 text-center text-xl text-black">A Finanto é especialista e tem mais de 16 anos de
              experiência no mercado de crédito. Nossas filiais
              estão localizadas nas cidades de Leme e
              Pirassununga, no interior de São Paulo, mas atuamos
              em todo o Brasil. </p>
          </details>

          <details>
            <summary class="text-green-600 text-2xl">A antecipação do Saque-Aniversário do FGTS
              interfere na contratação de outras linhas de
              crédito?
              </summary>
            <p class="mt-10 text-center text-xl text-black">Não. Você ainda pode contratar outras modalidades. </p>
          </details>






          <div class="py-5">


          </div>

        </div>

    </div>

  </div>
</div>
