<section class="" style="background-color: #3cb752;">
  <div class="container px-6 py-10 mx-auto">
    <h1 class="text-2xl font-semibold text-center text-gray-800 capitalize lg:text-3xl dark:text-white">Quais são as
      vantagens da antecipação do FGTS?
    </h1>



    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-4">
      <div
        class="flex flex-col items-center bg-white p-8 transition-colors duration-300 transform borderv cursor-pointer rounded-xl hover:border-transparent group hover:bg-cyan-400 dark:border-gray-700 dark:hover:border-transparent">
        <img class="object-cover w-32 h-32"
          src="https://storage.googleapis.com/gawen_storage/fgts/icon%20%C3%A9%20r%C3%A1pido.svg" alt="">

        <h1 class="mt-4 text-2xl font-semibold text-green-500">É rápido
        </h1>

        <p class="mt-2 text-gray-800">Liberação em até 24h
        </p>

        <div class="flex mt-3 -mx-2">





        </div>
      </div>

      <div
        class="flex flex-col items-center bg-white p-8 transition-colors duration-300 transform border-transparent cursor-pointer rounded-xl hover:border-transparent group hover:bg-cyan-400 dark:border-gray-700 dark:hover:border-transparent">
        <img class=" w-32 h-32 " src="https://storage.googleapis.com/gawen_storage/fgts/icon%20%C3%A9%20f%C3%A1cil.svg"
          alt="">

        <h1 class="mt-4 text-2xl font-semibold text-green-500">É fácil </h1>

        <p class="mt-2 text-gray-800"> Contrate sem sair de casa </p>

        <div class="flex mt-3 -mx-2">





        </div>
      </div>

      <div
        class="flex flex-col items-center bg-white p-8 transition-colors duration-300 transform border-transparent cursor-pointer rounded-xl hover:border-transparent group hover:bg-cyan-400 dark:border-gray-700 dark:hover:border-transparent">
        <img class=" w-32 h-32 "
          src="https://storage.googleapis.com/gawen_storage/fgts/icon%20N%C3%A3o%20se%20preocupe.svg" alt="">

        <h1 class="mt-4 text-2xl font-semibold text-green-500">Não se Preocupe</h1>

        <p class="mt-2 text-gray-800">Não há prestações mensais</p>

        <div class="flex mt-3 -mx-2">

        </div>
      </div>

      <div
        class="flex flex-col items-center bg-white p-8 transition-colors duration-300 transform border-transparent cursor-pointer rounded-xl hover:border-transparent group hover:bg-cyan-400 dark:border-gray-700 dark:hover:border-transparent">
        <img class=" w-32 h-32 "
          src="https://storage.googleapis.com/gawen_storage/fgts/icon%20N%C3%A3o%20impacta%20na%20contrata%C3%A7%C3%A3o%20de%20outras%20linhas%20de%20cr%C3%A9dito%20%20%20%20.svg"
          alt="">

        <h1 class="mt-4 text-2xl font-semibold text-green-500">Não Impacta</h1>

        <p class="mt-2 text-gray-800">Não impacta na contratação de outras linhas de crédito</p>

        <div class="flex mt-3 -mx-2">



        </div>
      </div>
      <div class="px-4 pb-2 pt-4">
        <button routerLink="/load" class="uppercase w-48  justify-center items-center text-green-500 text-3xl p-3 rounded-full snap-center "
          style="background-color:#ffffff;">

          <span> ENVIAR</span>


        </button>
      </div>

    </div>

  </div>

</section>
